<div id="lr-widget" rel="W46VE7VS">

  <div id="content" class="LR-content"><!-- LR-sharing-page LR-stats LR-lx LR-incentives-->
    <div class="LR-bg-img_wrapper">
      <div class="LR-bg-img-overlay" style="background-color: rgb(254, 179, 3); opacity: 0.2; background-position: initial initial; background-repeat: initial initial;"></div>
      <div class="LR-bg-img LR-site-bg-image-container LR-site-show-on-bg-image" ></div>
    </div>
    <div class="LR-announcement-bar LR-announcement-bg-color-container" style="display: none; background-color: rgba(7, 8, 7, 0.8); background-position: initial initial; background-repeat: initial initial;">
      <h4 class="LR-announcement"></h4>
    </div><!-- .announcementBar -->
    <div class="LR-box-wrapper">
      <div class="LR-box">
        <div class="LR-box-container">
          <h1 class="LR-site-title" style="display: none;">fourpalitos</h1>
          <div class="LR-site-logo"><img src="<%= asset_path('logo.png') %>"></div>

          <div class="LR-box-inner">
            <div class="LR-sign-up">
              <div class="LR-site-tagline rokkitt LR-clearfix"><p style="background-color: rgba(0, 0, 0, 0.870588); background-position: initial initial; background-repeat: initial initial;">Your Beach Day</p><p style="background-color: rgba(0, 0, 0, 0.870588); background-position: initial initial; background-repeat: initial initial;">Un Poquito</p><p style="background-color: rgba(0, 0, 0, 0.870588); background-position: initial initial; background-repeat: initial initial;">Más Awesome</p><div class="LR-clearfix"></div></div>
              <div class="LR-site-description rokkitt" style="display: none;"></div><!-- .site-description -->
              <div class="LR-sign-up-container">
                <span class="LR-sign-up-label rokkitt">STEP INSIDE AND BE THE FIRST TO KNOW</span>
                <!--<div class="LR-sign-up-container-inner LR-clearfix">-->
                  <%= form_for @user, :url => { :action => "create" }, html: {class: 'LR-sign-up-container-inner LR-clearfix'} do |f| %>
                      <%= f.text_field :email, :placeholder => 'e-mail address', :class => 'LR-sign-up-input signup-email', size: nil %>
                      <!--<input class="LR-sign-up-submit" name="commit" type="submit" title="GO" value="GO" />-->
                      <%= f.submit 'GO', class: 'LR-sign-up-submit', title: 'GO' %>
                  <% end %>
                <!--</div>&lt;!&ndash; .sign-up-container-inner &ndash;&gt;-->
              </div><!-- .sign-up-container -->
            </div><!-- .sign-up -->
          </div><!-- .box-inner -->
          <div class="LR-site-share LR-clearfix" style="display: none;">
            <div class="LR-site-incentive" style="display: block;">Woohoo--we are connected now! We'll be launching the #BeachPins on Kickstarter.com this Summer 2014. Stay tuned...</div><!-- .site-incentive -->

            <div class="LR-site-share-container">
              <div class="LR-site-share-inner">
                <div class="LR-site-social-share">
                  <ul class="LR-clearfix">
                    <li class="LR-share-facebook-like" style="display: none;"></li>
                    <li class="LR-share-facebook-send"></li>
                    <li class="LR-share-tweet"></li>
                    <li class="LR-share-linkedin"></li>
                    <li class="LR-share-tumblr"></li>
                  </ul>
                </div><!-- .site-social-share -->
                <div class="LR-site-share-email">
                  <div class="LR-share-label rokkitt">Share by e-mail:</div>
                  <div class="LR-share-email-inner">
                    <div class="LR-email-wrapper">
                      <input type="email" class="LR-share-email-emails" placeholder="enter e-mails (comma separated)">
                      <div class="LR-share-email-import">import</div>
                    </div>
                    <div class="LR-share-email-hide" style="display: none;">
                      <input type="text" class="LR-share-email-subject" placeholder="email subject">
                      <textarea class="LR-share-email-message" rows="4">email message</textarea>
                      <input type="submit" name="submit" title="Send Invitations" value="Send Invitations" class="LR-share-email-send">
                    </div><!-- .share-email-hide -->
                  </div><!-- .share-email-inner -->
                </div><!-- .site-share-email -->
                <div class="LR-site-share-link">
                  <span class="LR-share-label rokkitt">Share link:</span>
                  <input type="text" class="LR-share-link" placeholder="" value="">
                </div><!-- .site-share-link -->

                <div class="LR-site-live-stats">
                  <div class="LR-site-live-stats-container LR-clearfix">
                    <span class="LR-share-label rokkitt">Your live stats:</span>
                    <div class="LR-live-stats-data">
                      <div class="LR-stats-clicks"></div>
                      <span class="LR-stats-label">clicks</span>
                    </div>
                    <div class="LR-live-stats-data signups">
                      <div class="LR-stats-signups"></div>
                      <span class="LR-stats-label">signups</span>
                    </div>
                  </div><!-- .site-live-stats-container -->
                </div><!-- .site-live-stats -->

                <div class="LR-site-connect">
                  <span class="LR-share-label rokkitt">Find us on:</span>
                  <ul class="LR-connect-share-links LR-clearfix">
                    <li><a href="http://signup.fourpalitos.com/#" class="LR-connect-icon connect-rss" title="rss" style="display: none;"></a></li>
                    <li><a href="http://signup.fourpalitos.com/#" class="LR-connect-icon connect-github" title="github" style="display: none;"></a></li>
                    <li><a href="http://signup.fourpalitos.com/#" class="LR-connect-icon connect-pinterest" title="pinterest" style="display: none;"></a></li>
                    <li><a href="http://signup.fourpalitos.com/#" class="LR-connect-icon connect-youtube" title="youtube" style="display: none;"></a></li>
                    <li><a href="http://signup.fourpalitos.com/#" class="LR-connect-icon connect-vimeo" title="vimeo" style="display: none;"></a></li>
                    <li><a href="http://signup.fourpalitos.com/#" class="LR-connect-icon connect-instagram" title="instagram"></a></li>
                    <li><a href="http://signup.fourpalitos.com/#" class="LR-connect-icon connect-tumblr" title="tumblr"></a></li>
                    <li><a href="http://signup.fourpalitos.com/#" class="LR-connect-icon connect-blog" title="blog" style="display: none;"></a></li>
                    <li><a href="http://signup.fourpalitos.com/#" class="LR-connect-icon connect-facebook" title="facebook"></a></li>
                    <li><a href="http://signup.fourpalitos.com/#" class="LR-connect-icon connect-twitter" title="twitter"></a></li>
                  </ul>
                </div><!-- .share-connect -->
              </div><!-- .site-share-inner -->

            </div><!-- .site-share-container -->
          </div><!-- .site-share -->
        </div><!-- .box-container -->
      </div><!-- .box -->
    </div><!-- .box-wrapper -->

  </div><!-- #content -->

</div>
