@media all and (max-width: 1120px){
    #refer .hero{width: 1120px;}
    #refer .header{width: 1120px;}
}

@media all and (min-width: 1920px){
    #refer .hero{
        height: 557px;
    }
}

@media only screen
and (min-device-width : 320px) and (max-device-width : 568px){
    #refer .share-wrap .why{font-size: 11px;margin-top: 15px;}
    #refer .share-wrap .title{font-size: 11px;margin-top: 2px;line-height: 19px;}
    #refer .share-wrap .subtitle{font-size: 11px;margin-top: 2px;}
    #refer .share-wrap .copy-link{
        margin: 5px auto 0;
        width: auto;
        /*white-space: nowrap;*/
        /*overflow: hidden;*/
    }

    #refer .share-wrap .social-links{
        margin: 8px auto 1px;
    }

    #refer .share-wrap{width:500px;}
}

/*@media only screen*/
/*and (max-device-width : 568px){*/
    /*#refer .share-wrap .why{font-size: 9px;margin-top: 8px;}*/
    /*#refer .share-wrap .title{font-size: 9px;margin-top: 0px;}*/
    /*#refer .share-wrap .subtitle{font-size: 9px;margin-top: 0px;}*/
    /*#refer .share-wrap .copy-link{*/
        /*margin: 5px auto 0;*/
        /*width: auto;*/
        /*white-space: nowrap;*/
        /*overflow: hidden;*/
    /*}*/

    /*#refer .share-wrap .social-links{*/
        /*margin: 8px auto 0;*/
    /*}*/

    /*#refer .share-wrap{width:500px;}*/
/*}*/