@media all and (max-width: 1120px){
    #refer .hero{width: 1120px;}
    #refer .header{width: 1120px;}
}

@media all and (min-width: 1920px){
    #refer .hero{
        height: 557px;
    }
}

@media all and (max-width: 500px){
    #refer .share-wrap .why{font-size: 9px;}
    #refer .share-wrap .title{font-size: 23px;}
    #refer .share-wrap .subtitle{font-size: 7px;}
    #refer .share-wrap{width: 600px;}
}